:root {
    --primary-color: #0028807c;
    --secondary-color: #970000;
    /* color doc */
    --header-color: #28029b;
    --main-color: #ffffff;
    --footer-color: #000000;
    /* Color text */
    --primary-text-color: #ffffff;
    /* Background color */
    --black-bg-color: #000000;
    --light-bg-color: #ffffff;
    --container-bg-color: #ab3900;
    --card-bg-color: #ba5400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--black-bg-color);
}

header {
    color: var(--primary-text-color);
    background-color: var(--header-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    color: var(--primary-text-color);
    background-color: none;
}

footer {
    background-color: var(--footer-color);
}


/* Style for navigation links */

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.btn {
    padding: 5px 10px;
    border-radius: 6px;
    outline: none;
    border: none;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn:active {
    opacity: 0.6;
    cursor: wait;
    background-color: var(--secondary-color);
}

.btn-primary {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}

.btn-secondary {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.btn-thirdly {
    background-color: var(--container-bg-color);
    color: var(--primary-text-color);
}

.btn-success {
    background-color: #28a745;
    color: var(--primary-text-color);
}

.btn-danger {
    background-color: #dc3545;
    color: var(--primary-text-color);
}

.btn-warning {
    background-color: #ffc107;
    color: var(--primary-text-color);
}

.btn-info {
    background-color: #17a2b8;
    color: var(--primary-text-color);
}

.btn-error {
    background-color: #dc3545;
    color: var(--primary-text-color);
}


/* Card style */

.card {
    color: var(--primary-text-color);
    background-color: var(--card-bg-color);
    max-width: 250px;
    padding: 8px;
    border-radius: 8px;
}

.list-card {
    color: var(--primary-text-color);
    max-width: 550px;
}


/*    Lib package    */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-flow-row {
    flex-flow: row wrap;
}

.gap-1 {
    gap: 1px;
}

.gap-2 {
    gap: 2px;
}

.gap-3 {
    gap: 3px;
}

.gap-4 {
    gap: 4px;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

.gap-50 {
    gap: 50px;
}


/* padding */

.pad-10 {
    padding: 10px;
}

.pad-15 {
    padding: 15px;
}

.pad-20 {
    padding: 20px;
}

.pad-25 {
    padding: 25px;
}


/* font size */

.font-size-8 {
    font-size: 8px;
}

.font-size-9 {
    font-size: 9px;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-19 {
    font-size: 19px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-21 {
    font-size: 21px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-23 {
    font-size: 23px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-26 {
    font-size: 26px;
}

.font-size-27 {
    font-size: 27px;
}

.font-size-28 {
    font-size: 28px;
}

.font-size-29 {
    font-size: 29px;
}

.font-size-30 {
    font-size: 30px;
}


/* width */

.w-10 {
    width: 10px;
}

.w-20 {
    width: 20px;
}

.w-30 {
    width: 30px;
}

.w-40 {
    width: 40px;
}

.w-50 {
    width: 50px;
}

.w-60 {
    width: 60px;
}

.w-70 {
    width: 70px;
}

.w-80 {
    width: 80px;
}

.w-90 {
    width: 90px;
}

.w-100 {
    width: 100px;
}

.w-110 {
    width: 110px;
}

.w-120 {
    width: 120px;
}

.w-130 {
    width: 130px;
}

.w-140 {
    width: 140px;
}

.w-150 {
    width: 150px;
}


/* height */

.h-10 {
    height: 10px;
}

.h-20 {
    height: 20px;
}

.h-30 {
    height: 30px;
}

.h-40 {
    height: 40px;
}

.h-50 {
    height: 50px;
}

.h-60 {
    height: 60px;
}

.h-70 {
    height: 70px;
}

.h-80 {
    height: 80px;
}

.h-90 {
    height: 90px;
}

.h-100 {
    height: 100px;
}

.h-110 {
    height: 110px;
}

.h-120 {
    height: 120px;
}

.h-130 {
    height: 130px;
}

.h-140 {
    height: 140px;
}

.h-150 {
    height: 150px;
}


/* image */

.img-icon-small {
    width: 20px;
    height: 20px;
}

.img-icon-medium {
    width: 40px;
    height: 40px;
}

.img-icon-large {
    width: 60px;
    height: 60px;
}

.object-fit-cover {
    object-fit: cover;
}

.object-fit-contain {
    object-fit: contain;
}

.object-fit-fill {
    object-fit: fill;
}


/* color */

.grey {
    color: #6c757d;
}

.white {
    color: #ffffff;
}

.black {
    color: #000000;
}

.red {
    color: #dc3545;
}

.blue {
    color: #007bff;
}

.green {
    color: #28a745;
}

.yellow {
    color: #ffc107;
}

.orange {
    color: #fd7e14;
}

.purple {
    color: #6f42c1;
}

.pink {
    color: #e83e8c;
}

.dark-blue {
    color: #001f3f;
}

.dark-red {
    color: #8b0000;
}

.dark-orange {
    color: #ff4500;
}


/* others event */

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.close {
    display: none;
}

.open {
    display: block;
}

.alert {
    width: 100%;
    padding: 15px;
}

.error {
    color: #f8d7da;
    background-color: #721c24;
    border-bottom: 2.5px solid #ccc;
    border-left: 4px solid #ccc;
}

.warning {
    color: #ffffff;
    background-color: #ffc107;
    border-bottom: 2.5px solid #ccc;
    border-left: 4px solid #ccc;
}

.success {
    color: #f8d7da;
    background-color: #28a745;
    border-bottom: 2.5px solid #ccc;
    border-left: 4px solid #ccc;
}

.btn-message {
    color: #ffffff;
    background-color: transparent;
    border: none;
}

.list-card:hover {
    opacity: 0.8;
    cursor: pointer;
}